* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 200;
  box-sizing: border-box;
}

p {
  margin: 0 0 10px 0;
}

li {
  margin-left: 20px;
}

a,
a:visited {
  color: #fff;
}
.hidden {
  display: none;
}
